<template>
        <NavBar></NavBar>
</template>

<script>
    import NavBar from './components/navigation/NavBar'

    export default {
        components: {
            'NavBar': NavBar
        }
    }
</script>

<style>
</style>
