<template>
    <v-dialog max-width="700px" persistent transition="dialog-bottom-transition" v-model="showDialog">
        <v-card>
            <apiMessageBox :openDialog="apiMessageDialog"
                           :iconColor="apiMessageIconColor"
                           :iconLogo="apiMessageIconLogo"
                           :messageText="apiMessageText"
                           @done="done"
            ></apiMessageBox>

            <v-toolbar color="primary" dark>
                <v-btn @click.native="close" dark icon>
                    <v-icon>close</v-icon>
                </v-btn>
                <v-toolbar-title>{{dialogMode + " Employee"}}</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>

            <v-layout align-space-around column justify-center pa-3 sm8>
                <v-text-field label="Name" v-model="inputData.name"></v-text-field>
                <v-text-field label="Email" v-model="inputData.email"></v-text-field>
                <v-menu
                        :close-on-content-click="false"
                        :nudge-right="40"
                        deletable-chips
                        full-width
                        lazy
                        min-width="290px"
                        offset-y
                        ref="employment_start_date"
                        transition="scale-transition"
                        v-model="showEmploymentStartDateDatePicker"
                >
                    <v-combobox
                            label="Employment Start Date"
                            readonly
                            required
                            slot="activator"
                            v-model="inputData.employment_start_date"
                    ></v-combobox>
                    <v-date-picker no-title scrollable v-model="inputData.employment_start_date">
                    </v-date-picker>
                </v-menu>
                <v-menu
                        :close-on-content-click="false"
                        :nudge-right="40"
                        deletable-chips
                        full-width
                        lazy
                        min-width="290px"
                        offset-y
                        ref="employment_end_date"
                        transition="scale-transition"
                        v-model="showEmploymentEndDateDatePicker"
                >
                    <v-combobox
                            label="Employment End Date"
                            readonly
                            clearable
                            required
                            slot="activator"
                            v-model="inputData.employment_end_date"
                    ></v-combobox>
                    <v-date-picker no-title scrollable v-model="inputData.employment_end_date">
                    </v-date-picker>
                </v-menu>
                <v-text-field
                        :append-icon="showPassword ? 'visibility_off' : 'visibility'"
                        :type="showPassword ? 'text' : 'password'"
                        @click:append="showPassword = !showPassword"
                        counter
                        label="Password"
                        v-model="inputData.password"
                        v-if="dialogMode === 'Add'"
                ></v-text-field>
                <v-text-field
                        :append-icon="showPasswordConfirmation ? 'visibility_off' : 'visibility'"
                        :type="showPasswordConfirmation ? 'text' : 'password'"
                        @click:append="showPasswordConfirmation = !showPasswordConfirmation"
                        counter
                        label="Confirm Password"
                        v-model="inputData.password_confirmation"
                        v-if="dialogMode === 'Add'"
                ></v-text-field>
                <v-autocomplete
                        item-text="name"
                        :items="activeEmployees"
                        label="Manager"
                        return-object
                        clearable
                        v-model="selectedManager"
                ></v-autocomplete>
                <v-layout justify-center>
                    <v-btn
                            :disabled="loading"
                            :loading="loading"
                            @click="submit"
                            color="primary"
                    >
                        submit
                    </v-btn>
                </v-layout>
            </v-layout>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        data: () => ({
            loading: false,
            apiMessageDialog: false,
            apiMessageText: 'Unknown error!',
            apiMessageIconColor: 'red',
            apiMessageIconLogo: 'Error',
            origin: window.location.origin,

            showEmploymentStartDateDatePicker: false,
            showEmploymentEndDateDatePicker: false,
            showPassword: false,
            showPasswordConfirmation: false,

            activeEmployees: [],
            selectedManager: {},
        }),
        created() {
            this.getActiveEmployee();
        },
        watch: {
            showDialog() {
                this.selectedManager = {};
            },
            inputData(val) {
                if (val.manager)
                    this.selectedManager = this.activeEmployees.find(function (item,index,array) {
                        return item.id === val.manager.id;
                    });

                this.activeEmployees = this.activeEmployees.filter(function (item, index,array) {
                    return val.id !== item.id;
                })
            }
        },
        props: {
            showDialog: Boolean,
            inputData: Object,
            dialogMode: String,
        },
        methods: {
            close() {
                this.getActiveEmployee();
                this.$emit('done');
            },
            done() {
                this.apiMessageDialog = false;
            },
            submit() {
                this.loading = true;

                let api;
                if (this.dialogMode === 'Add')
                    api = axios.post(this.origin + '/employees', {
                            employee: this.inputData,
                            manager_id: this.selectedManager ? this.selectedManager.id : '',
                        });
                else
                    api = axios.put(this.origin + '/employees', {
                        employee: this.inputData,
                        manager_id: this.selectedManager ? this.selectedManager.id : '',
                    });

                api.then(response => {
                    this.loading = false;
                    this.apiMessageText = this.dialogMode + " employee successfully.";
                    this.apiMessageIconLogo = 'check_circle';
                    this.apiMessageIconColor = 'green';
                    this.apiMessageDialog = true;
                    this.close();
                }).catch(error => {
                    this.loading = false;
                    let apiMessageText = '';
                    let errorValues = Object.values(error.response.data.error_message);
                    errorValues.forEach(function (errorValue) {
                        if (Array.isArray(errorValue)) {
                            errorValue.forEach(function (item) {
                                apiMessageText = apiMessageText + item + "<br>";
                            });
                        } else {
                            apiMessageText = apiMessageText + errorValue + "<br>";
                        }
                    });
                    this.apiMessageText = apiMessageText;
                    this.apiMessageIconLogo = 'error';
                    this.apiMessageIconColor = 'red';
                    this.apiMessageDialog = true;
                })
            },
            getActiveEmployee() {
                this.loading = true;
                axios.get(this.origin + '/employees/active')
                    .then(response => {
                        this.loading = false;
                        this.activeEmployees = response.data.result_data;
                    })
                    .catch(error => {
                        this.loading = false;
                        let apiMessageText = '';
                        let errorValues = Object.values(error.response.data.error_message);
                        errorValues.forEach(function (errorValue) {
                            if (Array.isArray(errorValue)) {
                                errorValue.forEach(function (item) {
                                    apiMessageText = apiMessageText + item + "<br>";
                                });
                            } else {
                                apiMessageText = apiMessageText + errorValue + "<br>";
                            }
                        });
                        this.apiMessageText = apiMessageText;
                        this.apiMessageIconLogo = 'error';
                        this.apiMessageIconColor = 'red';
                        this.apiMessageDialog = true;
                    })
            },
        },
    }
</script>

<style scoped>

</style>