<template>
    <v-layout align-space-around column sm8>
        <PageToolbar title="Employees"
                     :apiMessageDialog="apiMessageDialog"
                     :apiMessageIconColor="apiMessageIconColor"
                     :apiMessageIconLogo="apiMessageIconLogo"
                     :apiMessageText="apiMessageText"
                     @done="closeApiDialog"
                     @refresh="getAllEmployeeList"
                     @add="addEmployee"
        ></PageToolbar>
        <EmployeeDialog :showDialog="showDialog"
                        :inputData="inputData"
                        :dialogMode="dialogMode"
                        @done="closeEmployeeDialog"
        ></EmployeeDialog>
        <v-data-table
                :headers="headers"
                :items="employeeList"
                :loading="loading"
                :pagination.sync="pagination"
                :rows-per-page-items='[10,20,{"text":"All", "value": -1 }]'
                :total-items="totalEmployee"
                class="elevation-0"
                disable-initial-sort
                no-data-text="No results found"
        >
            <v-progress-linear color="blue" indeterminate slot="progress"></v-progress-linear>
            <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{props.item.id}}</td>
                <td class="text-xs-left">{{props.item.name}}</td>
                <td class="text-xs-left">{{props.item.email}}</td>
                <td class="text-xs-left">{{props.item.employment_start_date}}</td>
                <td class="text-xs-left">{{props.item.employment_end_date}}</td>
                <td class="text-xs-left">{{props.item.manager? props.item.manager.name : ''}}</td>
                <td class="justify-left layout px-0">
                    <v-icon
                            @click="editEmployee(props.item)"
                            class="mr-2"
                            color="blue"
                            :disabled="loading"
                            large
                    >
                        edit
                    </v-icon>
                    <v-icon
                            @click="deleteEmployee(props.item)"
                            color="red"
                            :disabled="loading"
                            large
                    >
                        delete
                    </v-icon>
                </td>
            </template>
        </v-data-table>
    </v-layout>
</template>

<script>
    export default {
        data: () => ({
            employeeList: [],
            headers: [
                {text: 'Staff ID', value: 'id', sortable: true},
                {text: 'Name', value: 'name', sortable: true},
                {text: 'Email', value: 'email', sortable: true},
                {text: 'Date of employment', value: 'employment_start_date', sortable: true},
                {text: 'Date of resignation', value: 'employment_end_date', sortable: true},
                {text: 'Manager', value: 'manager', sortable: true},
                {text: 'Action', value: 'actions', sortable: false}
            ],
            totalEmployee: 0,
            pagination: {},

            loading: false,
            apiMessageDialog: false,
            apiMessageText: 'Unknown error!',
            apiMessageIconColor: 'red',
            apiMessageIconLogo: 'Error',
            origin: window.location.origin,

            showDialog: false,
            inputData: {},
            dialogMode: 'Add',
            defaultItem: {}
        }),
        created() {
            this.getAllEmployeeList();
        },
        watch: {
            pagination() {
                this.getAllEmployeeList();
            },
        },
        methods: {
            addEmployee() {
                this.dialogMode = 'Add';
                this.showDialog = true;
            },
            editEmployee(item) {
                this.inputData = item;
                this.dialogMode = 'Edit';
                this.showDialog = true;
            },
            closeEmployeeDialog() {
                this.showDialog = false;
                this.inputData = this.defaultItem;
                this.dialogMode = 'Add';
                this.getAllEmployeeList();
            },
            closeApiDialog() {
                this.getAllEmployeeList();
                this.apiMessageDialog = false;
            },
            getAllEmployeeList() {
                this.loading = true;
                axios.get(this.origin + '/employees', {
                    params: this.pagination
                })
                    .then(response => {
                        const {data, total} = response.data.result_data;
                        this.employeeList = data;
                        this.totalEmployee = total;
                        this.loading = false;
                    })
                    .catch(error => {
                        let apiMessageText = '';
                        let errorValues = Object.values(error.response.data.error_message);
                        errorValues.forEach(function (errorValue) {
                            if (Array.isArray(errorValue)) {
                                errorValue.forEach(function (item) {
                                    apiMessageText = apiMessageText + item + "<br>";
                                });
                            } else {
                                apiMessageText = apiMessageText + errorValue + "<br>";
                            }
                        });
                        this.apiMessageText = apiMessageText;
                        this.apiMessageIconLogo = 'error';
                        this.apiMessageIconColor = 'red';
                        this.apiMessageDialog = true;
                        this.loading = false;
                    })
            },
            deleteEmployee(item) {
                this.loading = true;
                axios.delete(this.origin + '/employees', {
                    data: {
                        id: item.id
                    }
                })
                    .then(response => {
                        this.apiMessageText = "Employee deleted successfully.";
                        this.apiMessageIconLogo = 'check_circle';
                        this.apiMessageIconColor = 'green';
                        this.apiMessageDialog = true;
                    })
                    .catch(error => {
                        let apiMessageText = '';
                        let errorValues = Object.values(error.response.data.error_message);
                        errorValues.forEach(function (errorValue) {
                            if (Array.isArray(errorValue)) {
                                errorValue.forEach(function (item) {
                                    apiMessageText = apiMessageText + item + "<br>";
                                });
                            } else {
                                apiMessageText = apiMessageText + errorValue + "<br>";
                            }
                        });
                        this.apiMessageText = apiMessageText;
                        this.apiMessageIconLogo = 'error';
                        this.apiMessageIconColor = 'red';
                        this.apiMessageDialog = true;
                        this.loading = false;
                    })
            },
        }
    }
</script>

<style scoped>

</style>