<template>
    <v-layout align-space-around column>
        <v-toolbar class="elevation-0" color="white">
            <v-toolbar-title>Hierarchy Report</v-toolbar-title>
            <v-spacer></v-spacer>
            <apiMessageBox :openDialog="apiMessageDialog"
                           :iconColor="apiMessageIconColor"
                           :iconLogo="apiMessageIconLogo"
                           :messageText="apiMessageText"
                           @done="done"
            ></apiMessageBox>
        </v-toolbar>
        <v-card flat>
            <v-flex row pa-3 sm8>
                <v-subheader>Please choose one staff:</v-subheader>
                <v-autocomplete
                        :item-text="computeActiveEmployeesText"
                        :items="activeEmployees"
                        label="Staff"
                        return-object
                        clearable
                        v-model="selectedStaff"
                ></v-autocomplete>
                <v-btn @click="exportResult"
                       class="mb-2"
                       color="primary"
                       :disabled="loading || !displayData"
                >
                    Download Excel
                </v-btn>
            </v-flex>
            <v-layout justify-center pa-3 row v-if="loading">
                <v-progress-circular
                        :size="70"
                        :width="7"
                        color="purple"
                        indeterminate
                ></v-progress-circular>
            </v-layout>
            <v-layout row pa-3 align-start justify-start>
                <v-flex column pa-3 v-if="!loading && displayData">
                    <v-subheader>Direct Manager:</v-subheader>
                    <v-subheader>Subordinates:</v-subheader>
                </v-flex>
                <v-flex column pa-3 v-if="!loading && displayData">
                    <v-subheader v-if="employeeData">{{employeeData.manager? employeeData.manager.name + " [Staff ID: "
                        + employeeData.manager.id + "] " : ''}}
                    </v-subheader>
                    <v-subheader v-for="(item,key) in allSubordinates" :key="key" v-if="allSubordinates">
                        {{computeIndirectSubordinatesText(item)}}
                    </v-subheader>
                </v-flex>

                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>

            </v-layout>
        </v-card>
    </v-layout>
</template>

<script>
    export default {
        data: () => ({
            loading: false,
            employeeData: {},
            allSubordinates: [],
            activeEmployees: [],
            origin: window.location.origin,
            apiMessageDialog: false,
            apiMessageText: 'Unknown error!',
            apiMessageIconColor: 'red',
            apiMessageIconLogo: 'Error',

            selectedStaff: {},

            displayData: false,
        }),
        created() {
            this.getActiveEmployee();
        },
        watch: {
            selectedStaff(val) {
                if (val === undefined)
                    this.displayData = false;
                else
                    this.getEmployeeHierarchy(val.id);
                this.displayData = true;
            }
        },
        methods: {
            computeActiveEmployeesText(item) {
                return item.name + " [Staff ID: " + item.id + "] ";
            },
            computeIndirectSubordinatesText(item) {
                if (item.manager)
                    return item.name + " [Staff ID: " + item.id + "] " + " / Manager: " + (item.manager.id === this.employeeData.id ? 'CURRENT STAFF' : item.manager.name
                        + " [Staff ID: " + item.manager.id + "] ");
                else
                    return item.name + " [Staff ID: " + item.id + "] ";
            },
            done() {
                this.apiMessageDialog = false;
            },
            closeApiDialog() {
                this.apiMessageDialog = false;
            },
            exportResult() {
                window.open(this.origin + '/employees/hierarchy/export?id=' + this.selectedStaff.id);
            },
            getEmployeeHierarchy(id) {
                this.loading = true;
                axios.get(this.origin + '/employees/hierarchy', {
                    params: {
                        id: id
                    }
                })
                    .then(response => {
                        const {employee_data, all_subordinates} = response.data.result_data;
                        this.employeeData = employee_data;
                        this.allSubordinates = all_subordinates;
                        this.loading = false;
                    })
                    .catch(error => {
                        this.loading = false;
                        let apiMessageText = '';
                        let errorValues = Object.values(error.response.data.error_message);
                        errorValues.forEach(function (errorValue) {
                            if (Array.isArray(errorValue)) {
                                errorValue.forEach(function (item) {
                                    apiMessageText = apiMessageText + item + "<br>";
                                });
                            } else {
                                apiMessageText = apiMessageText + errorValue + "<br>";
                            }
                        });
                        this.apiMessageText = apiMessageText;
                        this.apiMessageIconLogo = 'error';
                        this.apiMessageIconColor = 'red';
                        this.apiMessageDialog = true;
                    })
            },
            getActiveEmployee() {
                this.loading = true;
                axios.get(this.origin + '/employees/active')
                    .then(response => {
                        this.loading = false;
                        this.activeEmployees = response.data.result_data;
                    })
                    .catch(error => {
                        this.loading = false;
                        let apiMessageText = '';
                        let errorValues = Object.values(error.response.data.error_message);
                        errorValues.forEach(function (errorValue) {
                            if (Array.isArray(errorValue)) {
                                errorValue.forEach(function (item) {
                                    apiMessageText = apiMessageText + item + "<br>";
                                });
                            } else {
                                apiMessageText = apiMessageText + errorValue + "<br>";
                            }
                        });
                        this.apiMessageText = apiMessageText;
                        this.apiMessageIconLogo = 'error';
                        this.apiMessageIconColor = 'red';
                        this.apiMessageDialog = true;
                    })
            },
        }
    }
</script>

<style scoped>

</style>