<template>
    <v-layout align-space-around column sm8>
        <v-toolbar class="elevation-0" color="white">
            <v-toolbar-title>New Joiner Report</v-toolbar-title>
            <v-spacer></v-spacer>
            <apiMessageBox :openDialog="apiMessageDialog"
                           :iconColor="apiMessageIconColor"
                           :iconLogo="apiMessageIconLogo"
                           :messageText="apiMessageText"
                           @done="done"
            ></apiMessageBox>
        </v-toolbar>
        <v-toolbar class="elevation-0" color="white">
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>
            <v-menu
                    :close-on-content-click="false"
                    :nudge-right="40"
                    deletable-chips
                    full-width
                    lazy
                    min-width="290px"
                    offset-y
                    ref="employment_end_date"
                    transition="scale-transition"
                    v-model="showEmploymentStartDateDatePicker"
            >
                <v-combobox
                        label="From Date"
                        readonly
                        clearable
                        required
                        slot="activator"
                        v-model="employmentStartDate"
                ></v-combobox>
                <v-date-picker no-title scrollable v-model="employmentStartDate">
                </v-date-picker>
            </v-menu>
            <v-spacer></v-spacer>
            <v-menu
                    :close-on-content-click="false"
                    :nudge-right="40"
                    deletable-chips
                    full-width
                    lazy
                    min-width="290px"
                    offset-y
                    ref="employment_end_date"
                    transition="scale-transition"
                    v-model="showEmploymentEndDateDatePicker"
            >
                <v-combobox
                        label="To Date"
                        readonly
                        required
                        clearable
                        slot="activator"
                        v-model="employmentEndDate"
                ></v-combobox>
                <v-date-picker no-title scrollable v-model="employmentEndDate">
                </v-date-picker>
            </v-menu>
            <v-spacer></v-spacer>
            <v-btn @click="filterResult"
                   class="mb-2"
                   color="primary"
                   :disabled="loading"
            >
                <v-icon dark>search</v-icon>
            </v-btn>
            <v-btn @click="exportResult"
                   class="mb-2"
                   color="primary"
                   :disabled="loading"
            >
                Download Excel
            </v-btn>
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>
        </v-toolbar>

        <v-divider></v-divider>

        <v-data-table
                :headers="headers"
                :items="employeeList"
                :loading="loading"
                :pagination.sync="pagination"
                :rows-per-page-items='[{"text":"All", "value": -1 }]'
                :total-items="totalEmployee"
                class="elevation-0"
                disable-initial-sort
                no-data-text="No results found"
        >
            <v-progress-linear color="blue" indeterminate slot="progress"></v-progress-linear>
            <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{props.item.id}}</td>
                <td class="text-xs-left">{{props.item.name}}</td>
                <td class="text-xs-left">{{props.item.email}}</td>
                <td class="text-xs-left">{{props.item.employment_start_date}}</td>
                <td class="text-xs-left">{{props.item.employment_end_date}}</td>
                <td class="text-xs-left">{{props.item.manager? props.item.manager.name : ''}}</td>
            </template>
        </v-data-table>
    </v-layout>
</template>

<script>
    export default {
        data: () => ({
            employeeList: [],
            headers: [
                {text: 'Staff ID', value: 'id', sortable: false},
                {text: 'Name', value: 'name', sortable: false},
                {text: 'Email', value: 'email', sortable: false},
                {text: 'Employment Start Date', value: 'employment_start_date', sortable: false},
                {text: 'Employment End Date', value: 'employment_start_date', sortable: false},
                {text: 'Manager', value: 'manager', sortable: false},
            ],
            totalEmployee: 0,
            pagination: {},

            loading: false,
            apiMessageDialog: false,
            apiMessageText: 'Unknown error!',
            apiMessageIconColor: 'red',
            apiMessageIconLogo: 'Error',
            origin: window.location.origin,

            employmentStartDate: '',
            employmentEndDate: '',

            showEmploymentStartDateDatePicker: false,
            showEmploymentEndDateDatePicker: false,
        }),
        created() {
            this.getAllEmployeeList();
        },
        watch: {
            pagination() {
                this.getAllEmployeeList();
            },
        },
        methods: {
            done() {
                this.getAllEmployeeList();
                this.apiMessageDialog = false;
            },
            getAllEmployeeList() {
                this.loading = true;
                axios.get(this.origin + '/employees')
                    .then(response => {
                        const {data, total} = response.data.result_data;
                        this.employeeList = data;
                        this.totalEmployee = total;
                        this.loading = false;
                    })
                    .catch(error => {
                        let apiMessageText = '';
                        let errorValues = Object.values(error.response.data.error_message);
                        errorValues.forEach(function (errorValue) {
                            if (Array.isArray(errorValue)) {
                                errorValue.forEach(function (item) {
                                    apiMessageText = apiMessageText + item + "<br>";
                                });
                            } else {
                                apiMessageText = apiMessageText + errorValue + "<br>";
                            }
                        });
                        this.apiMessageText = apiMessageText;
                        this.apiMessageIconLogo = 'error';
                        this.apiMessageIconColor = 'red';
                        this.apiMessageDialog = true;
                        this.loading = false;
                    })
            },
            exportResult() {
                let baseUrl = '/employees/new-joiner/export?';

                if (this.employmentStartDate)
                    baseUrl += 'start_date=' + this.employmentStartDate;

                if (this.employmentEndDate)
                    baseUrl += baseUrl.includes('start_date') ? '&end_date=' + this.employmentEndDate : 'end_date=' + this.employmentEndDate;

                window.open(this.origin + baseUrl);
            },
            filterResult() {
                this.loading = true;

                axios.get(this.origin + '/employees/new-joiner', {
                    params: {
                        start_date: this.employmentStartDate,
                        end_date: this.employmentEndDate,
                    }
                })
                    .then(response => {
                        const {data, total} = response.data.result_data;
                        this.employeeList = data;
                        this.totalEmployee = total;
                        this.loading = false;
                    })
                    .catch(error => {
                        let apiMessageText = '';
                        let errorValues = Object.values(error.response.data.error_message);
                        errorValues.forEach(function (errorValue) {
                            if (Array.isArray(errorValue)) {
                                errorValue.forEach(function (item) {
                                    apiMessageText = apiMessageText + item + "<br>";
                                });
                            } else {
                                apiMessageText = apiMessageText + errorValue + "<br>";
                            }
                        });
                        this.apiMessageText = apiMessageText;
                        this.apiMessageIconLogo = 'error';
                        this.apiMessageIconColor = 'red';
                        this.apiMessageDialog = true;
                        this.loading = false;
                    })
            },
        }
    }
</script>

<style scoped>

</style>