<template>
    <v-layout align-space-around column pa-3 sm8>

        <v-tabs
                centered
                color="white"
                v-model="tab"
        >
            <v-tabs-slider color="orange"></v-tabs-slider>

            <v-tab
                    :key="key"
                    v-for="(item, key) in items"
            >
                {{ item }}
            </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
            <v-tab-item
                    :key="key"
                    v-for="(item, key) in items"
            >
                <InformationCard v-if="item === 'Information'"></InformationCard>
                <PasswordResetCard v-if="item === 'Change Password'"></PasswordResetCard>
            </v-tab-item>
        </v-tabs-items>
    </v-layout>
</template>

<script>
    export default {
        data: () => ({
            tab: null,
            items: [
                'Information',
                'Change Password',
            ],
        })
    }
</script>

<style scoped>

</style>