<template>
    <v-layout align-space-around column pa-3 sm8>
        <v-flex align-space-between fill-height justify-start pa-3 row sm8>
            <v-flex :key="key" @click="redirectToReport(item.title)" v-for="(item,key) in reports">
                <v-card height="500" width="500">
                    <v-img :src="item.imgLink" contain height="300" width="500"></v-img>
                    <v-card-title class="justify-center"><h3>{{item.title}}</h3></v-card-title>
                    <v-card-text class="justify-center"><h5>{{item.description}}</h5></v-card-text>
                </v-card>
            </v-flex>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        data: () => ({
            origin: window.location.origin,
            reports: [
                {
                    title: "New Joiner Report",
                    description: "Show the employees who joined the company in a certain time period.",
                    imgLink: "https://www.iaea.org/sites/default/files/styles/hd_1920x1080/public/cn-260-humanresources.png?itok=l4v8MQif"
                },
                {
                    title: "Hierarchy Report",
                    description: "For a given employee, show the people who they manage, if any.",
                    imgLink: "https://kissflow.com/wp-content/uploads/2019/01/blog-1.jpg"
                }
            ]
        }),
        methods: {
            redirectToReport(title) {
                switch (title) {
                    case 'New Joiner Report':
                        window.location.assign(this.origin + '/hrm/report/new-joiner');
                        break;
                    case 'Hierarchy Report':
                        window.location.assign(this.origin + '/hrm/report/hierarchy');
                        break;
                }
            }
        }
    }
</script>

<style scoped>

</style>