<template>
    <v-app id="inspire">

        <!--Navigation Drawer begin-->
        <v-navigation-drawer
                app
                clipped
                fixed
                v-model="drawer"
        >
            <!--Upper part of the navigation bar begin-->
            <v-toolbar flat class="transparent">
                <v-list>
                    <v-list-tile avatar>
                        <v-list-tile-avatar>
                            <img :src="userData.icon">
                        </v-list-tile-avatar>

                        <v-list-tile-content>
                            <v-list-tile-title>Welcome, {{userData.name}}!</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-toolbar>
            <!--Upper part of the navigation bar end-->

            <!--List of item of the navigation bar begin-->
            <v-list dense>
                <v-divider></v-divider>
                <v-list-tile
                        v-for="item in items"
                        :key="item.title"
                        @click="redirect(item.link)"
                >
                    <v-list-tile-action>
                        <v-icon :color="highlightIfSamePath(item.link)">{{ item.icon }}</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title><span
                                v-bind:style="{color: highlightIfSamePath(item.link)}">{{ item.title }}</span>
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            <!--List of item of the navigation bar end-->

        </v-navigation-drawer>
        <!--Navigation drawer end-->

        <!--Toolbar begin-->
        <v-toolbar app color="indigo" clipped-left dark fixed>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>Laravel - Human Resource Management System</v-toolbar-title>
        </v-toolbar>
        <!--Toolbar end-->

        <!--Display content from vue-router-->
        <v-content>
            <router-view></router-view>
        </v-content>

    </v-app>
</template>

<script>
    export default {
        data: () => ({
            userData: {name: '... Loading ...', icon: 'https://randomuser.me/api/portraits/men/85.jpg'},
            selectedColor: '#ff9500',
            drawer: false,
            origin: window.location.origin,
            items: [
                {title: 'Home', icon: 'dashboard', link: '/hrm/home'},
                {title: 'Employees', icon: 'supervisor_account', link: '/hrm/employees'},
                {title: 'Report', icon: 'library_books', link: '/hrm/report'},
                {title: 'Profile', icon: 'account_circle', link: '/hrm/profile'},
                {title: 'Logout', icon: 'exit_to_app', link: '/logout'},
            ],
        }),
        created() {
            this.getLoggedInEmployeeData();
        },
        methods: {
            highlightIfSamePath(link) {
                if (link === window.location.pathname)
                    return this.selectedColor;

                return '';
            },
            redirect(link) {
                if (link.indexOf('logout') > -1)
                    this.logout();
                else
                    window.location.assign(this.origin + link);
            },
            getLoggedInEmployeeData() {
                axios.get(this.origin + '/logged-in-employee').then(response => {
                    const {name} = response.data.result_data;
                    this.userData.name = name;
                })
            },
            logout() {
                axios.post(this.origin + '/logout', {})
                    .then(response => {
                        window.location.assign(this.origin + '/hrm/home');
                    })
                    .catch(response => {
                        window.location.assign(this.origin + '/hrm/home');
                    });

            },
        }
    }
</script>

<style scoped>

</style>