<template>
    <v-toolbar class="elevation-0" color="white">
        <v-toolbar-title>{{title}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click="refresh" class="mb-2" color="primary" dark>
            <v-icon dark>cached</v-icon>
        </v-btn>
        <v-btn @click="add" class="mb-2" color="primary" dark>
            <v-icon dark>add</v-icon>
        </v-btn>
        <apiMessageBox :openDialog="apiMessageDialog"
                       :iconColor="apiMessageIconColor"
                       :iconLogo="apiMessageIconLogo"
                       :messageText="apiMessageText"
                       @done="done"
        ></apiMessageBox>
    </v-toolbar>
</template>

<script>
    export default {
        props: {
            title: String,
            apiMessageDialog: Boolean,
            apiMessageIconColor: {type: String, default: 'red'},
            apiMessageIconLogo: {type: String, default: 'error'},
            apiMessageText: {type: String, default: 'Unknown Error!'},
        },
        methods: {
            refresh() {
                this.$emit('refresh');
            },
            add() {
                this.$emit('add');
            },
            done() {
                this.$emit('done');
            }
        }
    }
</script>

<style scoped>

</style>