<template>
    <v-dialog max-width="700px" persistent v-model="openDialog">
        <v-card>
            <v-card-title class="justify-center">
                <v-icon :color="iconColor" x-large>{{iconLogo}}</v-icon>
            </v-card-title>

            <v-layout justify-center pa-3>
                <div class="h3" v-html="messageText"></div>
            </v-layout>

            <v-card-actions>
                <v-layout justify-center>
                    <v-btn @click.native="done" color="white">OK</v-btn>
                </v-layout>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        props: {
            openDialog: Boolean,
            iconColor: {type: String, default: 'red'},
            iconLogo: {type: String, default: 'error'},
            messageText: {type: String, default: 'Unknown Error!'},
        },
        methods: {
            done() {
                this.$emit('done');
            }
        }
    }
</script>

<style scoped>

</style>