<template>
    <v-layout align-space-around column>
        <apiMessageBox :openDialog="apiMessageDialog"
                       :iconColor="apiMessageIconColor"
                       :iconLogo="apiMessageIconLogo"
                       :messageText="apiMessageText"
                       @done="closeApiDialog"
        ></apiMessageBox>
        <v-card flat>
            <v-layout justify-center pa-3 row v-if="loading">
                <v-progress-circular
                        :size="70"
                        :width="7"
                        color="purple"
                        indeterminate
                ></v-progress-circular>
            </v-layout>
            <v-layout row pa-3 align-start justify-start>
                <v-flex column pa-3 v-if="!loading">
                    <v-subheader>Staff ID:</v-subheader>
                    <v-subheader>Name:</v-subheader>
                    <v-subheader>Employment Date:</v-subheader>
                    <v-subheader>Direct Manager:</v-subheader>
                    <v-subheader>Subordinates:</v-subheader>
                </v-flex>
                <v-flex column pa-3 v-if="!loading">
                    <v-subheader v-if="employeeData">{{employeeData.id}}</v-subheader>
                    <v-subheader v-if="employeeData">{{employeeData.name}}</v-subheader>
                    <v-subheader v-if="employeeData">{{employeeData.employment_start_date}}</v-subheader>
                    <v-subheader v-if="employeeData">{{employeeData.manager? employeeData.manager.name + " [Staff ID: " + employeeData.manager.id + "] " : ''}}
                    </v-subheader>
                    <v-subheader v-for="(item,key) in allSubordinates" :key="key" v-if="allSubordinates">
                        {{computeIndirectSubordinatesText(item)}}
                    </v-subheader>
                </v-flex>

                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>

            </v-layout>
        </v-card>
    </v-layout>
</template>

<script>
    export default {
        data: () => ({
            loading: false,
            employeeData: {},
            allSubordinates: [],
            origin: window.location.origin,
            apiMessageDialog: false,
            apiMessageText: 'Unknown error!',
            apiMessageIconColor: 'red',
            apiMessageIconLogo: 'Error',
        }),
        created() {
            this.getLoggedInEmployeeInformation();
        },
        methods: {
            computeIndirectSubordinatesText(item) {
                if (item.manager)
                    return item.name + " [Staff ID: " + item.id + "] " + " / Manager: " + (item.manager.id === this.employeeData.id ? 'You' : item.manager.name
                        + " [Staff ID: " + item.manager.id + "] ");
                else
                    return item.name + " [Staff ID: " + item.id + "] ";
            },
            closeApiDialog() {
                this.apiMessageDialog = false;
            },
            getLoggedInEmployeeInformation() {
                this.loading = true;
                axios.get(this.origin + '/employee-information')
                    .then(response => {
                        const {employee_data, all_subordinates} = response.data.result_data;
                        this.employeeData = employee_data;
                        this.allSubordinates = all_subordinates;
                        this.loading = false;
                    })
                    .catch(error => {
                        let apiMessageText = '';
                        let errorValues = Object.values(error.response.data.error_message);
                        errorValues.forEach(function (errorValue) {
                            if (Array.isArray(errorValue)) {
                                errorValue.forEach(function (item) {
                                    apiMessageText = apiMessageText + item + "<br>";
                                });
                            } else {
                                apiMessageText = apiMessageText + errorValue + "<br>";
                            }
                        });
                        this.apiMessageText = apiMessageText;
                        this.apiMessageIconLogo = 'error';
                        this.apiMessageIconColor = 'red';
                        this.apiMessageDialog = true;
                        this.loading = false;
                    })
            },
        }
    }
</script>

<style scoped>

</style>