<template>
    <v-layout align-space-around column>
        <apiMessageBox :openDialog="apiMessageDialog"
                       :iconColor="apiMessageIconColor"
                       :iconLogo="apiMessageIconLogo"
                       :messageText="apiMessageText"
                       @done="closeApiDialog"
        ></apiMessageBox>

        <v-card flat>
            <v-layout pa-3 sm8>
                <v-text-field
                        :append-icon="showOldPassword ? 'visibility_off' : 'visibility'"
                        :type="showOldPassword ? 'text' : 'password'"
                        @click:append="showOldPassword = !showOldPassword"
                        counter
                        hint="Your old password"
                        label="Old Password"
                        name="input-10-1"
                        v-model="oldPassword"
                ></v-text-field>
            </v-layout>

            <v-layout pa-3 sm8>
                <v-text-field
                        :append-icon="showNewPassword ? 'visibility_off' : 'visibility'"
                        :type="showNewPassword ? 'text' : 'password'"
                        @click:append="showNewPassword = !showNewPassword"
                        counter
                        hint="At least 8 characters"
                        label="New Password"
                        v-model="newPassword"
                ></v-text-field>
            </v-layout>

            <v-layout pa-3 sm8>
                <v-text-field
                        :append-icon="showNewPasswordConfirmation ? 'visibility_off' : 'visibility'"
                        :type="showNewPasswordConfirmation ? 'text' : 'password'"
                        @click:append="showNewPasswordConfirmation = !showNewPasswordConfirmation"
                        counter
                        hint="Confirm your new password"
                        label="Confirm New Password"
                        v-model="newPasswordConfirmation"
                ></v-text-field>
            </v-layout>

            <v-layout align-center justify-center row>
                <v-btn
                        :disabled="loading"
                        :loading="loading"
                        @click.native="submit"
                        color="primary"
                >
                    submit
                </v-btn>
            </v-layout>
        </v-card>
    </v-layout>
</template>

<script>
    export default {
        data: () => ({
            loading: false,
            showOldPassword: false,
            showNewPassword: false,
            showNewPasswordConfirmation: false,
            oldPassword: '',
            newPassword: '',
            newPasswordConfirmation: '',
            apiMessageDialog: false,
            apiMessageText: 'Unknown error!',
            apiMessageIconColor: 'red',
            apiMessageIconLogo: 'Error',
            origin: window.location.origin,
        }),
        methods: {
            closeApiDialog() {
                this.apiMessageDialog = false;
            },
            submit() {
                this.loading = true;
                axios.post(this.origin + '/password', {
                    old_password: this.oldPassword,
                    new_password: this.newPassword,
                    new_password_confirmation: this.newPasswordConfirmation
                }).then(response => {
                    this.loading = false;
                    this.apiMessageText = "Password changed successfully. You will logging out now.";
                    this.apiMessageIconLogo = 'check_circle';
                    this.apiMessageIconColor = 'green';
                    this.apiMessageDialog = true;
                    setTimeout(() => this.logout(), 3000);
                }).catch(error => {
                    let apiMessageText = '';
                    let errorValues = Object.values(error.response.data.error_message);
                    errorValues.forEach(function (errorValue) {
                        if (Array.isArray(errorValue)) {
                            errorValue.forEach(function (item) {
                                apiMessageText = apiMessageText + item + "<br>";
                            });
                        } else {
                            apiMessageText = apiMessageText + errorValue + "<br>";
                        }
                    });
                    this.apiMessageText = apiMessageText;
                    this.apiMessageIconLogo = 'error';
                    this.apiMessageIconColor = 'red';
                    this.apiMessageDialog = true;
                    this.loading = false;
                });
            },
            logout() {
                window.location.assign(this.origin + '/hrm/home');
            },
        }
    }
</script>

<style scoped>

</style>